@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap&subset=cyrillic-ext');

html, body {
    height: 100%;
}
html {
    /* font-size: 16px; */
}

body {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: stretch;
    background: #f6f6f6;
}
.login-page {
    margin: auto 0;
}

.login-page-header {
    color: transparent;
    padding: 0px 120px;
}

.card-pf  {
    display: flex;
    flex-direction: column;
}
.login-header {
    
}
.btn-primary {
    background: #784d8d;
    border-color: #784d8d;
}

.btn-primary:hover {
    background-color: rgba(120,77,141,.85);
    border-color: rgba(120,77,141,.85);
}
a {
    color: #784d8d!important
}
a:hover {
    color:rgba(120,77,141,.85)
}

.zocial,
a.zocial  {
    width: 100%;
    font-weight: normal;
    font-size: 14px;
    text-shadow: none;
    border: 0;
    background: #f5f5f5;
    color: #72767b;
    border-radius: 0;
    white-space: normal;
}
.zocial:before {
  border-right: 0;
  margin-right: 0;
}
.zocial span:before {
    padding: 7px 10px;
    font-size: 14px;
}
.zocial:hover {
    background: #ededed !important;
}

.zocial.facebook,
.zocial.github,
.zocial.google,
.zocial.microsoft,
.zocial.stackoverflow,
.zocial.linkedin,
.zocial.twitter {
    background-image: none;
    border: 0;

    box-shadow: none;
    text-shadow: none;
}

/* Copy of zocial windows classes to be used for microsoft's social provider button */
.zocial.microsoft:before{ content: "\f15d"; }
.zocial.stackoverflow:before{ color: inherit; }
